<div class="d-none row all-forms" id="categs">
    <div class="col-6">
        <h4>add categgory</h4>
        <form action="/admin/add-project-categ" method="post" style="margin-bottom: 10px;">
            <div class="mb-3">
                <label for="categgory-name" class="form-label">categgory name</label>
                <input type="text" name="name" class="form-control" placeholder="categgory name" required>
            </div>
            <button type="submit" class="btn btn-dark">submit</button>
        </form>
    </div>
</div>