/* carouser */
.carousel {
    height: 500px;
}

.carousel .carousel-control-next-icon,
.carousel .carousel-control-prev-icon {
    background-image: url('/main/img/arrow.png');
}

.carousel .carousel-control-prev-icon {
    transform: rotate(180deg);
}

.carousel img {
    height: 500px;
}

.carousel-caption {
    width: 100%;
    text-align: center;
    color: #000;
    bottom: 60px
}

.carousel-caption .btn {
    background-color: #177E4E;
    width: 195px;
    border-color: #177E4E;
}

.carousel-indicators [data-bs-target] {
    background-color: #177E4E;
}
/* categs nav*/
