/* nav*/
.navbar-brand img {
    width: 50px;
}

/* nav*/
/* footer*/
.footer {
    margin-top: 50px;
}

.footer a {
    color: #000;
    text-decoration: none;
}

.developed {
    text-align: right;
}

.developed a {
    text-decoration: none;
}

.developed a i {
    color: #49C858;
}

#searchResult {
    position: absolute;
    top: 57px;
    z-index: 999999999999999;
}

#searchResult a {
    text-decoration: none;
    color: #333;
}

#searchResult a:hover {
    color: #888;
    font-size: 1.5rem;
}

/* footer */